body{
    background-color: darkslategray;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.logo{
    background-color: darkslategrey;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo h1{
    font-family:playfair display;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: lightgray;
}
.logo p{
    font: 1em sans-serif;
    font-weight: 300;
    color: lightgray;
    margin: 0;
    padding: 0;
}
.logo img{
    width: 200px;
    margin-top: 20px;
    transition: width 1s ease-out;
}
.logo img:hover{
    width: 250px;
    transition: width 1s ease-out;
}

.text{
    background-color: darkcyan;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text .cap{
    font-family: playfair display;
    font-size: 3em;
    font-weight: 400;
    margin: 0 10 0 10;
    padding: 0;
    color: lightgray;
}
.text .smal{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: lightgray;
    
}


nav{
    background-color: rgb(30, 197, 197);
    width: 100%;
    padding:2.5px 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
nav img{
    align-self: center;
    width: 30px;
    margin: 10px 20px;
    padding: 1px;
}
nav img:hover ~ a{
    color: white;
    transition: color 1s;
    
}



nav a{
    /* align-self: ; */
    color: rgb(30, 197, 197);
    font-size: 16px;
    font-weight: 300;
    margin: 0px 20px;
    padding: 1px;  
}
